# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.whl

# Virtual environments
venv/
env/
.venv/
ENV/
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env

# Logs
*.log

# Python egg cache
Egg-info/
